a[href*="yandex"] {
    color: #f70;
    font-weight: bold;
}
a + span {
    display: inline-block;
    transform: scale(-1, 1);
    color: #f70;
}
a[href*="google"] {
    color: #666;
    font-weight: bold;
}
