span {
    color: red;
    font-size: 30px;
}
p > i  {
    background-color: green;
}
.orange {
    color: orange;
}
.blue {
    color: blue;
}
.grey {
    color: grey;
}
.red {
    color: red;
}
.green {
    color: green;
}
table {
    text-align: center;
}
.td-text {
    color: orange;
    text-align: left;
}
td ~ td {
    background-color: green;
}